{% extends "base.html" %}

{% block title %}
    <title>Expense Category</title>
{% endblock title %}
{% block content %}
    <main>
        <h1>Expense Category</h1>
        <p>
            <a href="{% url 'create_category' %}">Create a new category</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for genre in expensecategory_list %}
                    <tr>
                        <td>{{ genre.name }}</td>
                        <td>{{ genre.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock content %}
