{% extends "base.html" %}

{% block title %}
    <title>Accounts</title>
{% endblock title %}
{% block content %}
    <main>
        <h1>Accounts</h1>
        <p>
            <a href="{% url 'create_account' %}">Create a new account</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for acct in account_list %}
                    <tr>
                        <td>{{ acct.name }}</td>
                        <td>{{ acct.number }}</td>
                        <td>{{ acct.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock content %}
