{% extends "base.html" %}

{% block title %}
    <title>Login Page</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                <p>
                    <label for="username">Username:</label>
                    <input type="text" name="username">
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" name="password">
                </p>
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
