{% extends "base.html" %}

{% block title %}
    <title>Signup Page</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} <p>
                <label for="username">Username:</label>
                <input type="text" name="username">
            </p>
            <p>
                <label for="password1">Password1:</label>
                <input type="password" name="password1">
            </p>
            <p>
                <label for="password2">Password2:</label>
                <input type="password" name="password2">
                </p> {% endcomment %}
                <button>Signup</button>
            </form>
        </div>
    </main>
{% endblock content %}
