{% extends "base.html" %}

{% block title %}
    <title>Receipt List</title>
{% endblock title %}
{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for biz in receipt_list %}
                    <tr>
                        <td>{{ biz.vendor }}</td>
                        <td>{{ biz.total }}</td>
                        <td>{{ biz.tax }}</td>
                        <td>{{ biz.date|date:"m-d-Y" }}</td>
                        <td>{{ biz.category }}</td>
                        <td>{{ biz.account }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock content %}
